ServerP2.json
[{"id":"e85faf69.90533","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f11ffe1.26e3a","type":"mqtt in","z":"e85faf69.90533","name":"","topic":"DSRI/#","qos":"2","datatype":"auto","broker":"671cede1.70c7d4","x":70,"y":220,"wires":[["a4c8bfad.1a4ff","96dc7319.6d8f3"]]},{"id":"57ae377a.9375d8","type":"function","z":"e85faf69.90533","name":"number_of_people_class","func":"var people_count=[];\nif(global.get('p_count_cl')!==undefined)\n{\n     people_count=global.get('p_count_cl')\n}\n\n\n if(msg.topic=='DSRI/class/enter')\n{\nmsg.topic=msg.topic.replace('enter','')\n\n if (msg.payload.uuid !== undefined ){\nvar uuid = msg.payload['uuid'];\nif(people_count.indexOf(uuid) === -1)\n  people_count.push(uuid)\n  msg.state=1\nglobal.set('p_count_cl',people_count);\n }\n}\n\n if(msg.topic=='DSRI/class/exit')\n{\nmsg.topic=msg.topic.replace('exit','')\n\n if (msg.payload.uuid !== undefined ||people_count.length>0  ){\nvar uuid = msg.payload['uuid']\nconst index = people_count.indexOf(uuid)\nif (index > -1) \n  people_count.splice(index, 1);\n  msg.state=0\nglobal.set('p_count_cl',people_count);\n }\n}\n\nvar lent=people_count.length\nmsg.class_member=lent\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":160,"wires":[["c0b7bbf.8556d48","6f404b46.f1d3a4","307e83b6.fd2f4c","b6f2a029.bb7c3","31157162.98522e"]]},{"id":"a4c8bfad.1a4ff","type":"json","z":"e85faf69.90533","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["57ae377a.9375d8"]]},{"id":"31157162.98522e","type":"function","z":"e85faf69.90533","name":"create query","func":"if(msg.payload.uuid!==undefined){\n    var id=msg.payload.uuid\n   var room_name=msg.topic\n   var state=msg.state\nmsg.topic =\"CALL `add_beacon`('\"+id.toString()+\"');CALL `add_room`('\"+room_name.toString()+\"');CALL `tracking`('\"+room_name.toString()+\"','\"+id.toString()+\"','\"+state.toString()+\"')\"\nreturn msg;\n}\n// return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":40,"wires":[["5a699dda.f2a324"]]},{"id":"96dc7319.6d8f3","type":"json","z":"e85faf69.90533","name":"","property":"payload","action":"","pretty":false,"x":270,"y":240,"wires":[["c07bdf3f.cef69"]]},{"id":"1f2ac6a3.dd64e9","type":"inject","z":"e85faf69.90533","name":"reset count","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":280,"y":580,"wires":[["4c8435e1.f13c0c","13387c3e.82f594","8d33a7e8.549d88","723223fd.f51f2c"]]},{"id":"a2f49825.c9a4e8","type":"inject","z":"e85faf69.90533","name":"Setup thresholds","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":1020,"y":580,"wires":[["fd6dd3e1.e4a1","4177583e.9b00b8","9d7f9942.653d48","b1d98fc1.33f63"]]},{"id":"fd6dd3e1.e4a1","type":"change","z":"e85faf69.90533","name":"","rules":[{"t":"set","p":"max_class","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":580,"wires":[[]]},{"id":"4177583e.9b00b8","type":"change","z":"e85faf69.90533","name":"","rules":[{"t":"set","p":"max_office","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":700,"wires":[[]]},{"id":"4c8435e1.f13c0c","type":"change","z":"e85faf69.90533","name":"","rules":[{"t":"delete","p":"p_count_cl","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[["c0b7bbf.8556d48","6a7a164f.b819d8","83383220.f64f7"]]},{"id":"13387c3e.82f594","type":"change","z":"e85faf69.90533","name":"","rules":[{"t":"delete","p":"p_count_of","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[["19109648.5ca90a","c831d01a.48768","b8b1fd02.8a6b2"]]},{"id":"c07bdf3f.cef69","type":"function","z":"e85faf69.90533","name":"number_of_people_office","func":"var people_count=[];\nif(global.get('p_count_of')!==undefined)\n{\n     people_count=global.get('p_count_of')\n}\n\n\n if(msg.topic=='DSRI/office/enter')\n{\nmsg.topic=msg.topic.replace('enter','')\n\n if (msg.payload.uuid !== undefined ){\nvar uuid = msg.payload['uuid'];\nif(people_count.indexOf(uuid) === -1)\n  people_count.push(uuid)\n  msg.state=1\nglobal.set('p_count_of',people_count);\n }\n}\n\n if(msg.topic=='DSRI/office/exit')\n{\nmsg.topic=msg.topic.replace('exit','')\n\n if (msg.payload.uuid !== undefined ||people_count.length>0  ){\nvar uuid = msg.payload['uuid']\nconst index = people_count.indexOf(uuid)\nif (index > -1) \n  people_count.splice(index, 1);\n msg.state=0\nglobal.set('p_count_of',people_count);\n }\n}\n\nvar lent=people_count.length\nmsg.office_member=lent\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":240,"wires":[["c8d2e157.6aed4","19109648.5ca90a","b6f2a029.bb7c3","a3ac4a1e.9be588","31157162.98522e"]]},{"id":"6f404b46.f1d3a4","type":"function","z":"e85faf69.90533","name":"","func":"msg.payload = msg.class_member\nmsg.topic = \"class\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":220,"wires":[["6a7a164f.b819d8","bc8f5ed1.3bd59"]]},{"id":"c8d2e157.6aed4","type":"function","z":"e85faf69.90533","name":"","func":"msg.payload = msg.office_member\nmsg.topic = \"office\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":360,"wires":[["c831d01a.48768","bc8f5ed1.3bd59"]]},{"id":"307e83b6.fd2f4c","type":"switch","z":"e85faf69.90533","name":"","property":"class_member","propertyType":"msg","rules":[{"t":"lt","v":"max_class","vt":"global"},{"t":"gt","v":"max_class","vt":"global"},{"t":"eq","v":"max_class","vt":"global"}],"checkall":"true","repair":false,"outputs":3,"x":870,"y":40,"wires":[["e2a88997.aa6928"],["af43f0fb.7be32"],["2f8be6af.19557a"]]},{"id":"e2a88997.aa6928","type":"function","z":"e85faf69.90533","name":"safety","func":"msg.payload = \"Attention! Class is beyond safety capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":20,"wires":[["83383220.f64f7"]]},{"id":"af43f0fb.7be32","type":"function","z":"e85faf69.90533","name":"maximum","func":"msg.payload = \"Warning, Class at maximum capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":60,"wires":[["83383220.f64f7"]]},{"id":"b6f2a029.bb7c3","type":"function","z":"e85faf69.90533","name":"Total","func":"var clss = global.get(\"p_count_cl\");\nvar office = global.get(\"p_count_of\");\nvar clsslen = 0;\nvar oflen = 0;\n\nif(typeof clss != 'undefined')\n    clsslen = clss.length;\nif(typeof office != 'undefined')\n    oflen = office.length;\n    \nmsg.payload=clsslen+oflen;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":240,"wires":[["8d33a7e8.549d88"]]},{"id":"2f8be6af.19557a","type":"function","z":"e85faf69.90533","name":"threshold","func":"msg.payload = \"Warning, Class at threshold capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":100,"wires":[["83383220.f64f7"]]},{"id":"a3ac4a1e.9be588","type":"switch","z":"e85faf69.90533","name":"","property":"office_member","propertyType":"msg","rules":[{"t":"lt","v":"max_office","vt":"global"},{"t":"gt","v":"max_office","vt":"global"},{"t":"eq","v":"max_office","vt":"global"}],"checkall":"true","repair":false,"outputs":3,"x":110,"y":400,"wires":[["a3373d07.a3737"],["366ed26e.b4db4e"],["ffebd36.3e3333"]]},{"id":"a3373d07.a3737","type":"function","z":"e85faf69.90533","name":"safety","func":"msg.payload = \"Attention! Office is beyond safety capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":380,"wires":[["b8b1fd02.8a6b2"]]},{"id":"366ed26e.b4db4e","type":"function","z":"e85faf69.90533","name":"maximum","func":"msg.payload = \"Warning, Office at maximum capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["b8b1fd02.8a6b2"]]},{"id":"ffebd36.3e3333","type":"function","z":"e85faf69.90533","name":"threshold","func":"msg.payload = \"Warning, Office at threshold capacity!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["b8b1fd02.8a6b2"]]},{"id":"c420f4b3.bdbee8","type":"ui_button","z":"e85faf69.90533","name":"","group":"f4622864.d4d718","order":2,"width":12,"height":1,"passthru":false,"label":"Clean chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":1610,"y":100,"wires":[["bc8f5ed1.3bd59"]]},{"id":"c0b7bbf.8556d48","type":"ui_text","z":"e85faf69.90533","group":"c3923098.0bb44","order":1,"width":6,"height":1,"name":"","label":"class","format":"{{msg.class_member}}","layout":"row-spread","x":1210,"y":180,"wires":[]},{"id":"19109648.5ca90a","type":"ui_text","z":"e85faf69.90533","group":"c3923098.0bb44","order":2,"width":6,"height":1,"name":"","label":"office","format":"{{msg.office_member}}","layout":"row-spread","x":890,"y":420,"wires":[]},{"id":"8d33a7e8.549d88","type":"ui_text","z":"e85faf69.90533","group":"c3923098.0bb44","order":3,"width":0,"height":0,"name":"","label":"Total people inside the DSRI:","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":280,"wires":[]},{"id":"83383220.f64f7","type":"ui_text","z":"e85faf69.90533","group":"60f65c25.e010b4","order":1,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"col-center","x":1270,"y":60,"wires":[]},{"id":"b8b1fd02.8a6b2","type":"ui_text","z":"e85faf69.90533","group":"60f65c25.e010b4","order":3,"width":0,"height":0,"name":"","label":"Office","format":"{{msg.payload}}","layout":"col-center","x":530,"y":420,"wires":[]},{"id":"6a7a164f.b819d8","type":"ui_gauge","z":"e85faf69.90533","name":"","group":"60f65c25.e010b4","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"Person","format":"{{msg.class_member}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1450,"y":220,"wires":[]},{"id":"c831d01a.48768","type":"ui_gauge","z":"e85faf69.90533","name":"","group":"60f65c25.e010b4","order":4,"width":6,"height":4,"gtype":"wave","title":"","label":"Person","format":"{{msg.office_member}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"global.max_class","x":1490,"y":380,"wires":[]},{"id":"bc8f5ed1.3bd59","type":"ui_chart","z":"e85faf69.90533","name":"","group":"f4622864.d4d718","order":1,"width":"12","height":"5","label":"Real Time Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#e8546b","#ff7f0e","#2ca02c","#a8bda3","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1680,"y":300,"wires":[[]]},{"id":"5a699dda.f2a324","type":"mysql","z":"e85faf69.90533","mydb":"9b8ffc8f.0787","name":"","x":560,"y":40,"wires":[[]]},{"id":"9d7f9942.653d48","type":"ui_slider","z":"e85faf69.90533","name":"","label":"Class:","tooltip":"","group":"e5dd8d25.b5409","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":10,"step":1,"x":990,"y":660,"wires":[["fd6dd3e1.e4a1"]]},{"id":"b1d98fc1.33f63","type":"ui_slider","z":"e85faf69.90533","name":"","label":"Office","tooltip":"","group":"e5dd8d25.b5409","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":10,"step":1,"x":990,"y":720,"wires":[["4177583e.9b00b8"]]},{"id":"723223fd.f51f2c","type":"function","z":"e85faf69.90533","name":"","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":160,"wires":[["bc8f5ed1.3bd59"]]},{"id":"171d5ba2.082004","type":"ui_date_picker","z":"e85faf69.90533","name":"","label":"Select day","group":"530316ef.87a148","order":3,"width":6,"height":1,"passthru":true,"topic":"","x":130,"y":980,"wires":[["fb7f3509.9622f8"]]},{"id":"fb7f3509.9622f8","type":"moment","z":"e85faf69.90533","name":"Convert to MySQL Date Format","topic":"","input":"","inputType":"msg","inTz":"Europe/Rome","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD 00:00:00","locale":"en_US","output":"day","outputType":"msg","outTz":"Europe/Rome","x":370,"y":980,"wires":[["9d5ca152.647df"]]},{"id":"d06c1878.4b9598","type":"mysql","z":"e85faf69.90533","mydb":"9b8ffc8f.0787","name":"","x":1020,"y":960,"wires":[["8c878bed.0a6828"]]},{"id":"aaa0d903.bd22b8","type":"function","z":"e85faf69.90533","name":"Query","func":"msg.topic = \"select COUNT(*) from track where DATE(time)='\"+global.get('day')+\"' and room_id=( select id from room where room_name='\"+global.get('place')+\"' ) and state =1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":980,"wires":[["d06c1878.4b9598"]]},{"id":"8c878bed.0a6828","type":"ui_text","z":"e85faf69.90533","group":"530316ef.87a148","order":6,"width":0,"height":0,"name":"","label":"result:","format":"{{msg.payload[0][\"COUNT(*)\"]}}","layout":"row-spread","x":1170,"y":980,"wires":[]},{"id":"9379116b.29285","type":"ui_dropdown","z":"e85faf69.90533","name":"","label":"Choose the Place","tooltip":"","place":"Select option","group":"530316ef.87a148","order":4,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Class","value":"DSRI/class/","type":"str"},{"label":"office","value":"DSRI/office/","type":"str"}],"payload":"","topic":"","x":150,"y":1040,"wires":[["1b89e78.8111f19"]]},{"id":"9d5ca152.647df","type":"change","z":"e85faf69.90533","name":"","rules":[{"t":"set","p":"day","pt":"global","to":"day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":980,"wires":[[]]},{"id":"1b89e78.8111f19","type":"change","z":"e85faf69.90533","name":"","rules":[{"t":"set","p":"place","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1040,"wires":[[]]},{"id":"2a78ff6e.0ea37","type":"ui_button","z":"e85faf69.90533","name":"","group":"530316ef.87a148","order":5,"width":6,"height":1,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":700,"y":1040,"wires":[["aaa0d903.bd22b8"]]},{"id":"1967b884.54aa17","type":"mysql","z":"e85faf69.90533","mydb":"9b8ffc8f.0787","name":"","x":600,"y":800,"wires":[["c0f071e1.f13ff"]]},{"id":"c0f071e1.f13ff","type":"ui_text","z":"e85faf69.90533","group":"530316ef.87a148","order":1,"width":0,"height":0,"name":"","label":"Total Number of People Class","format":"{{msg.payload[0][\"COUNT(*)\"]}}","layout":"row-spread","x":830,"y":800,"wires":[]},{"id":"401f1d33.d15234","type":"function","z":"e85faf69.90533","name":"Total Number of People Class","func":"msg.topic = \"select COUNT(*) from track where room_id=11 and state=1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":800,"wires":[["1967b884.54aa17"]]},{"id":"e3edc2c6.21ef2","type":"mysql","z":"e85faf69.90533","mydb":"9b8ffc8f.0787","name":"","x":720,"y":860,"wires":[["6c542d9f.e0f324"]]},{"id":"6c542d9f.e0f324","type":"ui_text","z":"e85faf69.90533","group":"530316ef.87a148","order":2,"width":0,"height":0,"name":"","label":"Total Number of People Office","format":"{{msg.payload[0][\"COUNT(*)\"]}}","layout":"row-spread","x":950,"y":860,"wires":[]},{"id":"245b0758.a10488","type":"function","z":"e85faf69.90533","name":"Total Number of People Office","func":"msg.topic = \"select COUNT(*) from track where room_id=12 and state=1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":860,"wires":[["e3edc2c6.21ef2"]]},{"id":"ac1c53c8.7a9dc","type":"inject","z":"e85faf69.90533","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"update","payloadType":"str","x":110,"y":860,"wires":[["401f1d33.d15234","245b0758.a10488"]]},{"id":"671cede1.70c7d4","type":"mqtt-broker","z":"","name":"","broker":"tcp://127.0.0.1","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4622864.d4d718","type":"ui_group","z":"","name":"Real-time chart","tab":"b45258fc.0e4e18","order":5,"disp":false,"width":"12","collapse":false},{"id":"c3923098.0bb44","type":"ui_group","z":"","name":"Real-time statistics","tab":"b45258fc.0e4e18","order":2,"disp":true,"width":"12","collapse":false},{"id":"60f65c25.e010b4","type":"ui_group","z":"","name":"Gauge","tab":"b45258fc.0e4e18","order":3,"disp":false,"width":"6","collapse":false},{"id":"9b8ffc8f.0787","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"e5dd8d25.b5409","type":"ui_group","z":"","name":"Set Thresholds","tab":"b45258fc.0e4e18","order":1,"disp":true,"width":"6","collapse":false},{"id":"530316ef.87a148","type":"ui_group","z":"","name":"History","tab":"b45258fc.0e4e18","order":4,"disp":true,"width":"6","collapse":false},{"id":"b45258fc.0e4e18","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]