ServerP1.json
[{"id":"4b0afd43.098a34","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7d23080.ebd3bf8","type":"mqtt out","z":"4b0afd43.098a34","name":"","topic":"DSRI/class/enter","qos":"","retain":"","broker":"581e3668.9d3f58","x":1130,"y":240,"wires":[]},{"id":"19c5ecd4.babbf3","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"98jyd66d-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":740,"y":280,"wires":[["c76747e.4cc51b8"]]},{"id":"ff137c30.ccc1b","type":"mqtt out","z":"4b0afd43.098a34","name":"","topic":"DSRI/office/enter","qos":"","retain":"","broker":"581e3668.9d3f58","x":1110,"y":540,"wires":[]},{"id":"9889e0ce.4d4d9","type":"mqtt out","z":"4b0afd43.098a34","name":"","topic":"DSRI/class/exit","qos":"","retain":"","broker":"581e3668.9d3f58","x":1700,"y":220,"wires":[]},{"id":"fea0afde.8a991","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"88iir7rd-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":1320,"y":220,"wires":[["9a66e5fc.f1d5e8"]]},{"id":"33154c8a.7cf204","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"98jyd66d-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":1320,"y":260,"wires":[["9a66e5fc.f1d5e8"]]},{"id":"73afae09.31e54","type":"mqtt out","z":"4b0afd43.098a34","name":"","topic":"DSRI/office/exit","qos":"","retain":"","broker":"581e3668.9d3f58","x":1700,"y":520,"wires":[]},{"id":"564f66c2.bb3158","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"dg46hfd-r345-9897-f456-gdsgh345dg\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":1300,"y":520,"wires":[["e5744faa.7ec3f"]]},{"id":"bab7773e.f4a2a8","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"98jyd66d-f456-9897-f456-fgfe543fdf\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":1300,"y":560,"wires":[["e5744faa.7ec3f"]]},{"id":"c76747e.4cc51b8","type":"json","z":"4b0afd43.098a34","name":"","property":"payload","action":"","pretty":false,"x":970,"y":240,"wires":[["7d23080.ebd3bf8"]]},{"id":"9a66e5fc.f1d5e8","type":"json","z":"4b0afd43.098a34","name":"","property":"payload","action":"","pretty":false,"x":1510,"y":220,"wires":[["9889e0ce.4d4d9"]]},{"id":"aa20ae78.b6c8f","type":"json","z":"4b0afd43.098a34","name":"","property":"payload","action":"","pretty":false,"x":930,"y":540,"wires":[["ff137c30.ccc1b"]]},{"id":"e5744faa.7ec3f","type":"json","z":"4b0afd43.098a34","name":"","property":"payload","action":"","pretty":false,"x":1510,"y":520,"wires":[["73afae09.31e54"]]},{"id":"ca07b70a.dcdad8","type":"mqtt in","z":"4b0afd43.098a34","name":"","topic":"class/enter","qos":"0","datatype":"auto","broker":"581e3668.9d3f58","x":740,"y":180,"wires":[["c76747e.4cc51b8"]]},{"id":"acd3e4c.72d5818","type":"mqtt in","z":"4b0afd43.098a34","name":"","topic":"class/exit","qos":"0","datatype":"auto","broker":"581e3668.9d3f58","x":1340,"y":100,"wires":[["9a66e5fc.f1d5e8"]]},{"id":"614a6743.9fd258","type":"mqtt in","z":"4b0afd43.098a34","name":"","topic":"office/enter","qos":"0","datatype":"auto","broker":"581e3668.9d3f58","x":740,"y":480,"wires":[["aa20ae78.b6c8f"]]},{"id":"8798cbd8.b7b548","type":"mqtt in","z":"4b0afd43.098a34","name":"","topic":"office/exit","qos":"0","datatype":"auto","broker":"581e3668.9d3f58","x":1320,"y":440,"wires":[["e5744faa.7ec3f"]]},{"id":"3979ce55.a0a002","type":"aedes broker","z":"4b0afd43.098a34","name":"","mqtt_port":"1883","mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":810,"y":80,"wires":[[]]},{"id":"346bc990.35fe06","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"88iir7rd-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":740,"y":240,"wires":[["c76747e.4cc51b8"]]},{"id":"5af47b79.aaba64","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"98jyd66d-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":720,"y":700,"wires":[["aa20ae78.b6c8f"]]},{"id":"c1e6806.0969c8","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"8f83ew8w-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":720,"y":660,"wires":[["aa20ae78.b6c8f"]]},{"id":"dbb9687b.82a3e8","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"4444444-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":740,"y":320,"wires":[["c76747e.4cc51b8"]]},{"id":"d2ddc36f.b567","type":"inject","z":"4b0afd43.098a34","name":"uuid_emp4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uuid\":\"4444444-r345-9897-f456-123rer45reer\",\"major\":\"1989\",\"minor\":\"3432\"}","payloadType":"str","x":1340,"y":320,"wires":[["9a66e5fc.f1d5e8"]]},{"id":"581e3668.9d3f58","type":"mqtt-broker","z":"","name":"","broker":"tcp://127.0.0.1","port":"1883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]